
body {
    background: #772243;
    font-family: Arial;
}
h1 {
    color: red;
}
/* AsT7qSR2TNE5G6dg3fIebrkXWd1GFUKsJTKaSMUm1IeVVvjQ1Sc8fmat4wKVNDghG9peAN4nViHVdobpPjh2f6dcnuHTzc6gL1kkJGDKMajTyaQZvHTcML6NoY43Ojar0CKhxcKZ94dIUBe7epGo2JseAJTjsM7Mnl9wPRciAcPwIq8Wcof3vOGWXVQdilajE39nd3wb */
